@using LucyContainerFront.ViewModels
@inject LoginViewModel LoginViewModel

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-outline-danger" @onclick="LoginViewModel.LogoutCommand.Execute">Logout</button>