@page "/login"
@using LucyContainerFront.Pages.Modals

<h3>Login</h3>

<EditForm Model="LoginModel" OnValidSubmit="@(async () => await UserLoginAsync())">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="LoginModel.Username" class="form-control" Placeholder="Username" />
    <InputText @bind-Value="LoginModel.Password" class="form-control" type="password" Placeholder="Password" />

    <button class="btn btn-primary" type="submit">Login</button>
</EditForm>
<button @onclick="@(() => ShowMovieModalAsync())">View Movies</button>
 

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p class="text-danger">@ErrorMessage</p>
}

@code{



}